{
  "presets": [
    ["env", { "targets": { "node": "current" }}]
  ], 
  "plugins": [
    "transform-flow-strip-types", 
    "syntax-async-functions",
    "babel-plugin-syntax-object-rest-spread"
  ]
}
